@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  background-image: url("../../public/wall.webp");
  background-size: cover;
}

.about {
  background-image: url("../../public/wall.webp");
  background-size: cover;
}

.horoscope {
  background-image: 
  /* linear-gradient(
      to top,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.4)
    ), */ url("../../public/wall.webp");
  background-size: cover;
}

.products {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.4)
    ),
    url("../../public/Planets1.jpeg");
  background-size: cover;
}

.something {
  background-image: url("../../public/pro.png");
  background-size: cover;
}
